doctype html
html(lang="es")
    head
        title FotoFacilito
        meta(charset="utf-8")
        link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css", rel="stylesheet")
        
    body
        block contenido
            
        