extends ../../layout.jade
block contenido
    div(class="col-md-6 remove-float center-block big-top-space")
        h1 Registro de Estudiantes
        form(action="/app/studets",method="POST")
            div(class="form-group")
                label(for="title") Nombre
                input(type="tex", name="name",placeholder="Nombre del Estudiante",id="name",class="form-control")

                label(for="title") Apellido
                input(type="tex", name="last_name",placeholder="Apellido del Estudiante",id="last_name",class="form-control")
            
                label(for="title") Direccion
                input(type="tex", name="address",placeholder="Direccion del Estudiante",id="address",class="form-control")
                
                
            
            div(class="row top-space")
                div(class="col-xs-12 col-sm-6")
                    input(type="submit",value="Crear",class="btn btn-info")
               

            