extends ../../layout.jade
block contenido
    div(class="col-md-6 remove-float center-block big-top-space")
        h1 Registro de Estudiantes
        form(action="/app/studets",method="POST")
            div(class="form-group")
                label(for="title") Nombre
                input(type="text", name="name",placeholder="Nombre del Estudiante",id="name",class="form-control")

                label(for="title") Apellido
                input(type="text", name="last_name",placeholder="Apellido del Estudiante",id="last_name",class="form-control")
            
                label(for="title") Direccion
                input(type="text", name="address",placeholder="Direccion del Estudiante",id="address",class="form-control")

                label(for="title") Telefono
                input(type="number", name="phone",placeholder="Telefono del Estudiante",id="phone",class="form-control")
                
                label(for="title") Fecha Nacimiento
                input(type="date", name="birthdate",placeholder="Fecha de Nacimiento",id="birthdate",class="form-control")
                
                label(for="title") Grado
                input(type="text", name="grade",placeholder="Grado Academico",id="grade",class="form-control")
                
            
            div(class="row top-space")
                div(class="col-xs-12 col-sm-6")
                    input(type="submit",value="Crear",class="btn btn-info")
               

            